<section class="container brandguide">
  <div class="section-title">
    <h2><%- __('section_title.brand.brand_guidelines') %></h2>
    <a class="btn btn-default btn-green" href="https://goo.gl/mh6fNM" role="button" target="_blank"><%- __('btn.download_logo') %></a>
  </div>
  <div class="inner-section">
    <h3><%- __('page.brand.logo.title') %></h3>
    <div class="row">
      <div class="col-md-8">
        <figure class="box logotype">
          <img alt="classting_logotype" src="/images/classting_logo.png" class="img-fluid logo-img" alt="Responsive image" />
        </figure>
        <em><%- __('page.brand.logo.logotype.title') %></em>
        <span><%- __('page.brand.logo.logotype.desc') %></span>
      </div>
      <div class="col-md-4">
        <figure class="box logotype">
          <img alt="classting_glyph" src="/images/classting_symbol.png" class="img-fluid logo-img" alt="Responsive image" />
        </figure>
        <em><%- __('page.brand.logo.glyph.title') %></em>
        <span><%- __('page.brand.logo.glyph.desc') %></span>
      </div>
    </div>
  </div>
  <div class="inner-section">
    <h3><%- __('page.brand.logo_guide.title') %></h3>
    <div class="row">
      <div class="col-md-6">
        <figure class="box logo-variation">
          <img alt="ct_logo_green" src="/images/classting_logo.png" class="img-fluid" alt="Responsive image" />
        </figure>
        <em><%- __('page.brand.logo_guide.green.title') %></em>
        <span><%- __('page.brand.logo_guide.green.hint') %></span>
      </div>
      <div class="col-md-6">
        <figure class="box logo-variation bg-green">
          <img alt="ct_logo_white" src="/images/classting_logo_white.png" class="img-fluid" alt="Responsive image" />
        </figure>
        <em><%- __('page.brand.logo_guide.white.title') %></em>
        <span><%- __('page.brand.logo_guide.white.hint') %></span>
        </dl>
      </div>
    </div>
  </div>
  <div class="inner-section">
    <h3><%- __('page.brand.colors.title') %></h3>
    <div class="row">
      <div class="col-md-4">
        <div class="colorbar green"></div>
        <em><%- __('page.brand.colors.green.title') %></em>
        <span><%- __('page.brand.colors.green.hint') %></span>
      </div>
    </div>
  </div>
  <div class="permission">
    <p><%- __('page.brand.permission') %></p>
  </div>
</section>
