<section class="container-fluid business-cover">
  <div class="container">
    <p class="light">
      <%- __('page.business.banner.title') %>
    </p>

    <a class="btn btn-default btn-white" href="https://goo.gl/tfWO8r" role="button" target="_blank"><%- __('btn.view_guide') %></a>
  </div>
</section>

<section class="container guide ct-business">
  <h2><%- __('section_title.business.with_classting') %></h2>

  <div class="row">
    <article class="col-lg">
      <figure>
        <img alt="Content" src="/images/business-content.jpg" class="img-fluid" alt="Responsive image" />
      </figure>
      <h3><%- __('page.business.content.title') %></h3>
      <p><%- __('page.business.content.desc') %></p>
      <a class="btn btn-default btn-green" href="https://goo.gl/tfWO8r" role="button" target="_blank"><%- __('btn.view_guide') %></a>
    </article>
    <article class="col-lg">
      <figure>
        <img alt="Ad" src="/images/business-ad.jpg" class="img-fluid" alt="Responsive image" />
      </figure>
      <h3><%- __('page.business.ad.title') %></h3>
      <p><%- __('page.business.ad.desc') %></p>
      <a class="btn btn-default btn-green" href="https://goo.gl/tfWO8r" role="button" target="_blank"><%- __('btn.view_guide') %></a>
    </article>
    <article class="col-lg">
      <figure>
        <img alt="Developer" src="/images/business-developer.jpg" class="img-fluid" alt="Responsive image" />
      </figure>
      <h3><%- __('page.business.developers.title') %></h3>
      <p><%- __('page.business.developers.desc') %></p>
      <a class="btn btn-default btn-green" href="https://developers.classting.net" role="button" target="_blank"><%- __('btn.go_to_developers') %></a>
    </article>
  </div>
</section>

<section class="container business-partnerships">
  <h2><%- __('section_title.business.partners') %></h2>

  <figure class="container">
    <img alt="business_partnerships" src="/images/business_partnerships.jpeg" class="img-fluid" alt="Responsive image" />
  </figure>
</section>
