<section class="container-fluid aboutus-cover">
  <div class="container">
    <p>
      <%- __('page.about.banner.title') %>
    </p>
    <p class="description">
      <%- __('page.about.banner.desc') %>
    </p>
  </div>
</section>

<section class="container stats">
  <h2><%- __('section_title.about.stats') %></h2>
  <span><%- __('page.about.stats.desc') %></span>
  <div class="row">
    <div class="col-lg">
      <strong>135,000+</strong>
      <span><%- __('page.about.stats1.title') %></span>
    </div>
    <div class="col-lg">
      <strong>1,600,000+</strong>
      <span><%- __('page.about.stats2.title') %></span>
    </div>
    <div class="col-lg">
      <strong>82%</strong>
      <span><%- __('page.about.stats3.title') %></span>
    </div>
  </div>
</section>

<section class="culture">
  <div class="container-fluid wrap">
   <p class="light"><%- __('page.about.culture.title') %></p>
  </div>
  <p class="col-md-8 description">
    <%- __('page.about.culture.desc') %>
  </p>
</section>

<section class="container leadership">
  <h2><%- __('section_title.about.leaders') %></h2>
  <p class="description">
    <%- __('page.about.leaders.desc') %>
  </p>

  <div class="row">
    <div class="col-lg-6 profile">
      <div class="row justify-content-md-center">
        <figure class="col-lg-4 col-md-3 col-sm-4">
          <img src="/images/ceo-davecho.png" alt="profile" class="img-fluid img-circle">
        </figure>
        <div class="col-lg-8 col-md-6 col-sm-8">
          <h3><%- __('page.about.leaders.ceo.title') %></h3>
          <span><%- __('page.about.leaders.ceo.subtitle') %></span>
          <p><%- __('page.about.leaders.ceo.desc') %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 profile">
      <div class="row justify-content-md-center">
        <figure class="col-lg-4 col-md-3 col-sm-4">
          <img src="/images/cto-jaydenyoo.png" alt="profile" class="img-fluid img-circle">
        </figure>
        <div class="col-lg-8 col-md-6 col-sm-8">
          <h3><%- __('page.about.leaders.cto.title') %></h3>
          <span><%- __('page.about.leaders.cto.subtitle') %></span>
          <p><%- __('page.about.leaders.cto.desc') %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 profile">
      <div class="row justify-content-md-center">
        <figure class="col-lg-4 col-md-3 col-sm-4">
          <img src="/images/cso-calvinkang.png" alt="profile" class="img-fluid img-circle">
        </figure>
        <div class="col-lg-8 col-md-6 col-sm-8">
          <h3><%- __('page.about.leaders.cso.title') %></h3>
          <span><%- __('page.about.leaders.cso.subtitle') %></span>
          <p><%- __('page.about.leaders.cso.desc') %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="inner-section">
    <h3><%- __('page.about.leaders.advisors.title') %></h3>

    <div class="row">
      <dl class="col-md profile">
        <dt><%- __('page.about.leaders.advisor1.title') %></dt>
        <dd><%- __('page.about.leaders.advisor1.desc') %></dd>
      </dl>
      <dl class="col-md profile">
        <dt><%- __('page.about.leaders.advisor2.title') %></dt>
        <dd><%- __('page.about.leaders.advisor2.desc') %></dd>
      </dl>
      <dl class="col-md profile">
        <dt><%- __('page.about.leaders.advisor3.title') %></dt>
        <dd><%- __('page.about.leaders.advisor3.desc') %></dd>
      </dl>
    </div>
  </div>
</section>

<section class="container investors">
  <h2><%- __('section_title.about.investors') %></h2>
  <div class="row justify-content-md-center">
    <div class="col-md investor">
      <figure>
        <img alt="Softbank Ventures" src="/images/investors-sb.png" class="img-fluid" alt="Responsive image">
      </figure>
    </div>
    <div class="col-md investor">
      <figure>
        <img alt="Partners Investment" src="/images/investors-pi.png" class="img-fluid" alt="Responsive image">
      </figure>
    </div>
    <div class="col-md investor">
      <figure>
        <img alt="Samsung Venture Investment" src="/images/investors-svi.png" class="img-fluid" alt="Responsive image">
      </figure>
    </div>
  </div>
</section>

<section class="container location">
  <h2><%- __('section_title.about.office') %></h2>

  <div class="row">
    <div class="col-md map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.510851533453!2d127.02539975110395!3d37.49586783583026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca15a5b53a15f%3A0x72f4e81747a233dd!2z7ZiE64yA7Lm065OcIO2VgOuyoO2DgA!5e0!3m2!1sen!2skr!4v1496385818731"></iframe>
    </div>
    <div class="col-md">
      <div class="address">
        <h3><%- __('page.about.office.korea.title') %></h3>

        <address>
          <%- __('page.about.office.korea.desc') %>
          <span><%- __('page.about.office.parking.desc') %></span>
        </address>

        <address>
          <%- __('page.about.office.us.desc') %>
        </address>

        <address>
          <%- __('page.about.office.china.desc') %>
        </address>

        <address>
          <%- __('page.about.office.japan.desc') %>
        </address>
      </div>
    </div>
  </div>

  <div class="inner-section">
    <h3><%- __('page.about.office.contact.title') %></h3>

    <div class="row">
      <dl class="col-md-4 profile">
        <dt><%- __('page.about.office.contact.phone') %></dt>
        <dd><a href="tel:<%- __('page.about.office.contact.phone_call') %>" target="_top"><%- __('page.about.office.contact.phone_no') %></a></dd>
      </dl>
      <dl class="col-md-4 profile">
        <dt><%- __('page.about.office.contact.business') %></dt>
        <dd><a href="tel:<%- __('page.about.office.contact.business_call') %>" target="_top"><%- __('page.about.office.contact.business_no') %></a></dd>
      </dl>
      <dl class="col-md-4 profile">
        <dt><%- __('page.about.office.contact.career_email') %></dt>
        <dd><a href="mailto:withus@classting.com" target="_top">withus@classting.com</a></dd>
      </dl>
      <dl class="col-md-4 profile">
        <dt><%- __('page.about.office.contact.fax') %></dt>
        <dd><a href="fax:<%- __('page.about.office.contact.fax_send') %>" target="_top"><%- __('page.about.office.contact.fax_no') %></a></dd>
      </dl>
    </div>
  </div>
</section>
