<% site.posts.each(function(post){ %>
    title : <%- post.title %>
    <%- post.categories.title %>
    <br />
  <% }) %>

aaaaa : <%- site.posts.length %>
bbbbb : <%- site.posts.find({categories : 'news'}).length %>
cc : <%- site.categories.findOne({name: 'news'}).posts.length %>
dd : <%- site.categories.findOne({name: 'news'}).posts.length %>
dd : <%- site.categories.findOne({name: 'news'}).posts.find({lang : 'ko'}).length %>

<br/>
change lang : <%- switch_lang('en') %>
default lang : <%- default_lang() %>
page.lang : <%- page.lang %>
</br />

<% site.posts.each(function(post){ %>
    <%- url_for(post.path) %>
    <br />
  <% }) %>

  <% site.posts.each(function(post){ %>
      <%- url_for_lang(post.path) %>
      <br />
    <% }) %>


<section class="container guide">
  <h2><%- __('news.title') %></h2>

  <div class="row">
    <article class="col-lg">
      <figure>
        <img alt="Stats" src="http://placehold.it/360x360" class="img-fluid" alt="Responsive image" />
      </figure>
      <h3>회사 소개서</h3>
      <p>주식회사 클래스팅 소개 자료입니다.</p>
      <a class="btn btn-default btn-green" href="#" role="button">소개자료 보기</a>
    </article>
    <article class="col-lg">
      <figure>
        <img alt="Stats" src="http://placehold.it/360x360" class="img-fluid" alt="Responsive image" />
      </figure>
      <h3>브랜드 가이드라인</h3>
      <p>클래스팅 로고를 사용하실 때, 브랜드 가이드 라인을 참고하세요.</p>
      <a class="btn btn-default btn-green" href="#" role="button">자세히 보기</a>
    </article>
    <article class="col-lg">
      <figure>
        <img alt="Stats" src="http://placehold.it/360x360" class="img-fluid" alt="Responsive image" />
      </figure>
      <h3>사진 자료실</h3>
      <p>클래스 서비스 관련 공식 이미지를 다운받으세요.</p>
      <a class="btn btn-default btn-green" href="#" role="button">자세히 보기</a>
    </article>
  </div>
</section>

<section class="container">
  <h2>News</h2>

  <div class="news">
    <article class="row">
      <a href="#">
        <div class="row">
          <div class="col-md-5">
            <span>2017. 4. 3</span>
            <h4>파이낸셜 뉴스</h4>
          </div>

          <div class="col-md-7">
            <h3>러닝카드, 교육 업계 넷플릭스 될 것</h3>
            <p>
              머신러닝 기반 추천 알고리즘으로 적합한 교육 컨텐츠 제공..."사교육비 절감에 일조할 것"
              <br />
              사용자만 200만명이 넘는 교육 소셜네트워크서비스(SNS) 업체 클래스팅이 설립 이후 첫번째 ...
            </p>

            <span class="more">더 보기 ></span>
          </div>
        </div>
      </a>
    </article>
    <article class="row">
      <a href="#">
        <div class="row">
          <div class="col-md-5">
            <span>2017. 4. 3</span>
            <h4>파이낸셜 뉴스</h4>
          </div>

          <div class="col-md-7">
            <h3>러닝카드, 교육 업계 넷플릭스 될 것</h3>
            <p>
              머신러닝 기반 추천 알고리즘으로 적합한 교육 컨텐츠 제공..."사교육비 절감에 일조할 것"
              <br />
              사용자만 200만명이 넘는 교육 소셜네트워크서비스(SNS) 업체 클래스팅이 설립 이후 첫번째 ...
            </p>

            <span class="more">더 보기 ></span>
          </div>
        </div>
      </a>
    </article>
    <article class="row">
      <a href="#">
        <div class="row">
          <div class="col-md-5">
            <span>2017. 4. 3</span>
            <h4>파이낸셜 뉴스</h4>
          </div>

          <div class="col-md-7">
            <h3>러닝카드, 교육 업계 넷플릭스 될 것</h3>
            <p>
              머신러닝 기반 추천 알고리즘으로 적합한 교육 컨텐츠 제공..."사교육비 절감에 일조할 것"
              <br />
              사용자만 200만명이 넘는 교육 소셜네트워크서비스(SNS) 업체 클래스팅이 설립 이후 첫번째 ...
            </p>

            <span class="more">더 보기 ></span>
          </div>
        </div>
      </a>
    </article>
    <article class="row">
      <a href="#">
        <div class="row">
          <div class="col-md-5">
            <span>2017. 4. 3</span>
            <h4>파이낸셜 뉴스</h4>
          </div>

          <div class="col-md-7">
            <h3>러닝카드, 교육 업계 넷플릭스 될 것</h3>
            <p>
              머신러닝 기반 추천 알고리즘으로 적합한 교육 컨텐츠 제공..."사교육비 절감에 일조할 것"
              <br />
              사용자만 200만명이 넘는 교육 소셜네트워크서비스(SNS) 업체 클래스팅이 설립 이후 첫번째 ...
            </p>

            <span class="more">더 보기 ></span>
          </div>
        </div>
      </a>
    </article>

    <nav aria-label="article navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
</section>
