<section class="container guide">
  <div class="row justify-content-center">
    <article class="col-sm-4">
      <figure>
        <img alt="Brand" src="/images/icon-pi-brandguidelines.png" class="img-fluid" alt="Responsive image" />
      </figure>
      <h3>브랜드 가이드</h3>
      <p>클래스팅 로고를 사용하실 때, 브랜드 가이드를 참고하세요.</p>
      <a class="btn btn-default btn-green" href="<%- url_for("/brandguide") %>" role="button">자세히 보기</a>
    </article>
    <article class="col-sm-4 mobile-hide">
      <figure>
        <img alt="Images" src="/images/icon-pi-image.png" class="img-fluid" alt="Responsive image" />
      </figure>
      <h3><%- __('page.news.photos.title') %></h3>
      <p><%- __('page.news.photos.hint') %></p>
      <a class="btn btn-default btn-green" href="https://goo.gl/npIOEO" role="button" target="_blank"><%- __('btn.view_detail') %></a>
    </article>
  </div>
</section>

<section class="container">
  <h2><%- __('section_title.news.news') %></h2>

  <div class="news">
    <%- partial('_partial/excerpt', { posts: page.posts }) %>
    <%- partial('_partial/paginate', { page: page }) %>
  </div>
</section>
