<section class="container-fluid products-cover">
  <div class="container">
    <p class="light">
      <%- __('page.products.banner.title') %>
    </p>
  </div>
</section>

<section class="container">
  <h2><%- __('section_title.products.products') %></h2>

  <article class="product">
    <div class="row">
      <figure class="col-md-7">
        <img alt="Class" src="/images/product-class.jpg" class="img-fluid" alt="Responsive image" />
      </figure>
      <div class="col-md content">
        <h3><%- __('page.products.class.title') %></h3>
        <p><%- __('page.products.class.desc') %></p>
      </div>
    </div>
  </article>

  <article class="product">
    <div class="row">
      <figure class="col-md-7">
        <img alt="Noticeboard" src="/images/product-noticeboard.jpg" class="img-fluid" alt="Responsive image" />
      </figure>
      <div class="col-md content">
        <h3><%- __('page.products.notice.title') %></h3>
        <p><%- __('page.products.notice.desc') %></p>
      </div>
    </div>
  </article>

  <article class="product">
    <div class="row">
      <figure class="col-md-7">
        <img alt="Newsfeed" src="/images/product-newsfeed.jpg" class="img-fluid" alt="Responsive image" />
      </figure>
      <div class="col-md content">
        <h3><%- __('page.products.newsfeed.title') %></h3>
        <p><%- __('page.products.newsfeed.desc') %></p>
      </div>
    </div>
  </article>

  <article class="product">
    <div class="row">
      <figure class="col-md-7">
        <img alt="School" src="/images/product-school.jpg" class="img-fluid" alt="Responsive image" />
      </figure>
      <div class="col-md content">
        <h3><%- __('page.products.school.title') %></h3>
        <p><%- __('page.products.school.desc') %></p>
      </div>
    </div>
  </article>

  <article class="product">
    <div class="row">
      <figure class="col-md-7">
        <img alt="Learning" src="/images/product-learning.jpg" class="img-fluid" alt="Responsive image" />
      </figure>
      <div class="col-md content">
        <h3><%- __('page.products.learning.title') %></h3>
        <p><%- __('page.products.learning.desc') %></p>
      </div>
    </div>
  </article>

  <article class="product">
    <div class="row">
      <figure class="col-md-7">
        <img alt="Learning_plus" src="/images/product-lc.jpg" class="img-fluid" alt="Responsive image" />
      </figure>
      <div class="col-md content">
        <h3><%- __('page.products.lc.title') %></h3>
        <p><%- __('page.products.lc.desc') %></p>
      </div>
    </div>
  </article>
</section>
