<article class="container article">
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <span><%- date(post.date, 'YYYY. MM. DD') %></span>
        <h4><%- post.publisher %></h4>
        <h1><%= post.title %></h1>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <%- post.content %>
    </div>
    <footer class="article-footer">
      <a class="article-share-link" onClick="history.go(-1);return true;"><%- __('btn.return_to_list') %></a>
    </footer>
  </div>
</article>
