<% posts.each(function(post) { %>
  <article>
    <a href="<%- url_for_lang(post.path) %>">
      <div class="row">
        <div class="col-md-4">
          <span><%- date(post.date, 'YYYY. MM. DD') %></span>
          <h4><%- post.publisher %></h4>
        </div>

        <div class="col-md-8 preview">
          <h3><%- post.title %></h3>
          <div class="content">
            <%- post.excerpt || __('no_excerpt') %>
          </div>
          <span class="more"><%- __('btn.view_more') %></span>
        </div>
      </div>
    </a>
  </article>
<% }) %>
