<nav class="navbar navbar-toggleable-sm navbar-light fixed-top">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="<%- url_for("/") %>">
      <img src="/images/classting_logo.png" alt="Classting">
    </a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item<%- is_home() && !page.path.match(/news/) ? ' active' : '' %>">
          <a class="nav-link" <a href="<%- url_for("/") %>">About us</a>
        </li>
        <li class="nav-item<%- page.path.match(/careers/) ? ' active' : '' %>">
          <a class="nav-link" href="<%- url_for("/careers") %>">Careers</a>
        </li>
        <li class="nav-item<%- page.path.match(/products/) ? ' active' : '' %>">
          <a class="nav-link" href="<%- url_for("/products") %>">Products</a>
        </li>
        <li class="nav-item<%- page.path.match(/business/) ? ' active' : '' %>">
          <a class="nav-link" href="<%- url_for("/business") %>">Business</a>
        </li>
        <li class="nav-item<%- page.path.match(/news/) ? ' active' : '' %>">
          <a class="nav-link" href="<%- url_for("/news") %>">News</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
