<% var format = config.pagination_dir + '/%d/' %>
<nav aria-label="article navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item <%- page.prev === 0 ? ' disabled' : '' %>">
      <a class="page-link" href="<%- url_for(page.current <= 2 ? page.base : page.base + format.replace('%d', page.current - 1)) %>">이전</a>
    </li>
    <% for (var i = 1; i <= page.total; i++) { %>
      <% var url = url_for(i === 1 ? page.base : page.base + format.replace('%d', i)) %>
        <li class="page-item"><a class="page-link" href="<%- url %>"><%- i %></a></li>
    <% } %>
    <li class="page-item <%- page.next === 0 ? ' disabled' : '' %>">
      <a class="page-link" href="<%-  url_for(page.base + format.replace('%d', page.current + 1)) %>">다음</a>
    </li>
  </ul>
</nav>
